extends layout

block links
  link(rel='stylesheet', href='/css/index.css')

block content

  h3 Preview
  canvas#boardPreview
  hr
  a(href='/config') Configure

block scripts
  script(src="/javascripts/font.js")
  script(src="/javascripts/canvasScoreboard.js")
